@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

html, body {
  height: 100%;
  width: 100%;
  font: 12px/1.5 'Helvetica Neue',Helvetica,Arial,Sans-serif;
  background: #f9f9f9;
  min-width: 1080px; }

a {
  text-decoration: none;
  display: block; }

ul, li {
  list-style: none; }

.nav-top {
  width: 100%;
  background: #f4f4f4;
  border-bottom: 1px #e8e8e8 solid;
  height: 28px;
  z-index: 109;
  position: relative;
  padding: 3px 0; }
  .nav-top .nav-w1080 {
    width: 1080px;
    margin: 0 auto;
    position: relative; }
    .nav-top .nav-w1080 .view {
      position: absolute;
      right: 0;
      top: 0; }
      .nav-top .nav-w1080 .view li {
        margin: 0 10px;
        font-size: 12px;
        color: #555;
        vertical-align: top;
        line-height: 28px;
        display: inline-block; }
        .nav-top .nav-w1080 .view li a {
          color: #555; }
        .nav-top .nav-w1080 .view li a:hover {
          text-decoration: underline; }
      .nav-top .nav-w1080 .view .view-1 {
        line-height: 28px;
        font-size: 12px;
        color: #555;
        vertical-align: top;
        margin: 0 12px; }
        .nav-top .nav-w1080 .view .view-1 a {
          display: inline-block; }
      .nav-top .nav-w1080 .view .seg {
        margin: 0;
        height: 15px;
        width: 1px; }
      .nav-top .nav-w1080 .view .view-5 {
        border: 1px solid transparent;
        display: inlineblock; }
        .nav-top .nav-w1080 .view .view-5 .bg {
          color: #FF5482;
          font-size: 12px;
          vertical-align: 1px;
          margin-right: 2px; }
          .nav-top .nav-w1080 .view .view-5 .bg i {
            font-size: 14px;
            color: #FF5482;
            margin-left: 2px; }
        .nav-top .nav-w1080 .view .view-5 .kf {
          display: none;
          line-height: 28px; }
          .nav-top .nav-w1080 .view .view-5 .kf i {
            color: #FF5482;
            font-size: 14px;
            padding: 0 2px; }
          .nav-top .nav-w1080 .view .view-5 .kf a {
            display: inline; }
      .nav-top .nav-w1080 .view .view-7 {
        border: 1px solid #f4f4f4;
        padding: 0 5px 0 5px;
        display: inlineblock; }
        .nav-top .nav-w1080 .view .view-7 .wx1 {
          display: none;
          border: 1px solid #CECCCF;
          padding: 10px;
          width: 200px;
          position: absolute;
          top: 22px;
          right: -80px;
          background: #fff; }
          .nav-top .nav-w1080 .view .view-7 .wx1 .d1 {
            line-height: 1.4em;
            float: left;
            width: 135px;
            text-align: center;
            color: #666;
            border-right: 1px dotted #CDCBCE; }
          .nav-top .nav-w1080 .view .view-7 .wx1 .d2 {
            text-align: center; }
            .nav-top .nav-w1080 .view .view-7 .wx1 .d2 dd {
              margin-top: 10px; }
            .nav-top .nav-w1080 .view .view-7 .wx1 .d2 dt {
              margin-top: 10px; }

.wrapper {
  z-index: 101;
  position: relative;
  background: #fff;
  min-width: 1000px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06); }
  .wrapper .header {
    z-index: 301;
    width: 1080px;
    margin: 0 auto; }
    .wrapper .header .logo {
      height: 90px;
      position: relative;
      text-align: left;
      display: block; }
      .wrapper .header .logo a {
        display: inline-block; }
        .wrapper .header .logo a img {
          margin-top: 15px; }
      .wrapper .header .logo .zheng {
        background: url("../imgs/upload_ae75f583dcb3536e115449a11bde5434_390x40.png") no-repeat;
        width: 390px;
        height: 40px;
        position: absolute;
        top: 25px;
        left: 525px; }
        .wrapper .header .logo .zheng a {
          width: 390px;
          height: 40px; }
      .wrapper .header .logo .Shopping {
        position: absolute;
        display: block;
        background: #ff647c;
        border-radius: 10px;
        height: 34px;
        top: 28px;
        left: 947px; }
        .wrapper .header .logo .Shopping .Shopping-car {
          background: #444;
          color: white;
          border-radius: 50%;
          border: 2px solid #fff;
          position: absolute;
          line-height: 36px;
          text-align: center;
          left: -18px;
          width: 36px;
          height: 36px;
          top: -1px; }
          .wrapper .header .logo .Shopping .Shopping-car a {
            color: white; }
        .wrapper .header .logo .Shopping .Shopping-font {
          color: #fff;
          padding: 0 12px 0 24px;
          font-size: 15px;
          line-height: 34px; }
          .wrapper .header .logo .Shopping .Shopping-font a {
            color: #fff; }
      .wrapper .header .logo .ShoppingCar {
        display: none;
        background: #fff;
        border-top: none;
        padding: 0;
        position: absolute;
        top: 34px;
        width: 340px;
        right: 3px; }
        .wrapper .header .logo .ShoppingCar .commodity {
          background: transparent;
          border: 1px solid #ff5482;
          width: 340px;
          text-align: left;
          color: black;
          z-index: 29;
          cursor: default;
          position: relative; }
          .wrapper .header .logo .ShoppingCar .commodity .oul {
            background: white;
            overflow-y: hidden; }
            .wrapper .header .logo .ShoppingCar .commodity .oul li {
              font-size: 16px;
              color: #99918c;
              padding: 80px 0px;
              text-align: center;
              position: relative;
              overflow: hidden;
              list-style: none;
              cursor: pointer;
              border-bottom: none; }
            .wrapper .header .logo .ShoppingCar .commodity .oul .note {
              width: 100%;
              display: block;
              position: absolute;
              left: 0px;
              top: 80px;
              font-size: 16px;
              color: #99918c;
              text-align: center;
              cursor: pointer; }
          .wrapper .header .logo .ShoppingCar .commodity .payment {
            height: 47px;
            border-top: 1px solid #e3e3e3;
            background: #fff9fb;
            text-align: left;
            color: black; }
            .wrapper .header .logo .ShoppingCar .commodity .payment .Subtotal {
              font-size: 13px;
              color: #666666;
              padding: 10px 15px;
              position: absolute; }
              .wrapper .header .logo .ShoppingCar .commodity .payment .Subtotal span {
                color: #e53363;
                font-size: 18px; }
            .wrapper .header .logo .ShoppingCar .commodity .payment .Settlement {
              background: #ff5482;
              padding: 4px 12px;
              font-size: 13px;
              color: white;
              border-radius: 4px;
              border-width: 1px 1px 2px;
              border-style: solid;
              border-color: #ff3c70 #ff3c70 #e53363;
              border-image: initial;
              float: right;
              margin-right: 15px;
              margin-top: 6px;
              height: 24px;
              width: auto;
              line-height: 24px; }
              .wrapper .header .logo .ShoppingCar .commodity .payment .Settlement i {
                color: white; }
              .wrapper .header .logo .ShoppingCar .commodity .payment .Settlement a {
                color: white; }
  .wrapper .nav {
    height: 38px;
    background: #ff647c;
    width: 100%;
    position: relative; }
    .wrapper .nav .title {
      height: 38px;
      width: 1080px;
      margin: 0 auto;
      position: relative; }
      .wrapper .nav .title a {
        float: left;
        color: #fff;
        font-size: 15px;
        font-weight: 700;
        line-height: 38px;
        text-align: center;
        height: 38px;
        width: 95px; }
        .wrapper .nav .title a:last-child {
          position: relative; }
        .wrapper .nav .title a .hot {
          position: absolute;
          top: -4px;
          width: 27px;
          height: 18px;
          background: url("../imgs/upload_829e7d60f494bb7159132f6c5181c30b_54x36.png") no-repeat;
          background-size: 100%; }
      .wrapper .nav .title.title .e1:hover {
        background: #f34660; }
      .wrapper .nav .title .fom {
        position: absolute;
        right: 0;
        top: 5px;
        font-size: 14px; }
        .wrapper .nav .title .fom .classification {
          display: inline-block;
          height: 35px;
          width: 100px;
          text-align: right;
          padding-right: 5px;
          line-height: 30px;
          position: relative;
          float: left;
          font-size: 14px; }
          .wrapper .nav .title .fom .classification span {
            color: #fff;
            cursor: pointer; }
          .wrapper .nav .title .fom .classification .clearfix {
            display: none;
            position: absolute;
            left: -175px;
            top: 33px;
            width: 490px;
            background-color: #f9f9f9;
            border: 1px solid #ececec;
            overflow: hidden;
            box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.15);
            text-align: right; }
            .wrapper .nav .title .fom .classification .clearfix .f1 {
              display: block;
              width: 110px;
              float: left;
              text-align: center;
              font-size: 14px;
              line-height: 30px; }
              .wrapper .nav .title .fom .classification .clearfix .f1 li {
                text-align: right;
                background-color: #fff;
                color: #666;
                cursor: pointer;
                font-size: 12px;
                list-style: none;
                width: 80px;
                padding-right: 30px;
                height: 34px;
                line-height: 34px;
                border-right: 1px solid #e0e0e0;
                border-bottom: 1px solid #ececec; }
            .wrapper .nav .title .fom .classification .clearfix .con {
              margin-left: 110px;
              background: #fff;
              border-left: 1px solid #ececec;
              display: block;
              height: 527px; }
              .wrapper .nav .title .fom .classification .clearfix .con .rid {
                padding: 10px;
                padding-bottom: 0;
                display: inline-block;
                margin: 0;
                line-height: 30px;
                text-align: right;
                font-size: 14px; }
                .wrapper .nav .title .fom .classification .clearfix .con .rid .right0 {
                  text-align: center;
                  padding: 15px 14px 0 14px;
                  float: left;
                  width: 60px;
                  height: 93px;
                  border-right: 1px dashed #ececec;
                  border-bottom: 1px dashed #ececec;
                  overflow: hidden;
                  cursor: pointer;
                  list-style: none;
                  display: list-item; }
                  .wrapper .nav .title .fom .classification .clearfix .con .rid .right0 a {
                    width: 60px;
                    height: 78px;
                    display: inline-block;
                    color: #3E3E3E;
                    text-align: center; }
                    .wrapper .nav .title .fom .classification .clearfix .con .rid .right0 a img {
                      width: 60px;
                      height: 60px;
                      text-align: center;
                      display: block; }
                    .wrapper .nav .title .fom .classification .clearfix .con .rid .right0 a lable {
                      font-size: 12px;
                      line-height: 30px;
                      color: #999;
                      cursor: default;
                      text-align: center; }
        .wrapper .nav .title .fom .search {
          height: 28px;
          width: 215px;
          position: relative;
          font-size: 14px;
          display: inline-block; }
          .wrapper .nav .title .fom .search form input {
            outline: 0;
            border-radius: 2px;
            border: 1px solid #e6e6e6;
            height: 26px;
            line-height: 26px;
            width: 200px;
            padding: 0 5px;
            font-size: 12px;
            color: #666; }
          .wrapper .nav .title .fom .search form i {
            width: 20px;
            height: 24px;
            right: 13px;
            top: -6px;
            z-index: 2;
            color: #afafaf;
            cursor: pointer;
            position: absolute;
            font-size: 28px; }
          .wrapper .nav .title .fom .search .list {
            display: none;
            border: 1px solid #F9F9F9;
            background-color: #fff;
            border-radius: 0 0 2px 2px;
            overflow: hidden;
            box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
            position: absolute;
            top: 26px;
            left: 0;
            width: 210px;
            height: 390px; }
            .wrapper .nav .title .fom .search .list li {
              color: #3E3E3E;
              text-decoration: none;
              height: 26px;
              line-height: 26px;
              position: relative;
              display: block; }
              .wrapper .nav .title .fom .search .list li .wordx {
                line-height: 26px;
                margin-left: 5px;
                color: #666;
                font-size: 12px;
                cursor: pointer; }
              .wrapper .nav .title .fom .search .list li .memo {
                color: #A6A6A6;
                font-size: 12px;
                top: auto;
                position: absolute;
                right: 5px;
                line-height: 26px;
                cursor: pointer; }
            .wrapper .nav .title .fom .search .list.list li:hover {
              background: #afafaf; }

.container {
  display: block;
  position: relative; }
  .container .nav-cont {
    height: 30px;
    padding: 0;
    box-shadow: 0 1px 5px #bbb;
    z-index: 79;
    position: relative;
    background: #fff; }
    .container .nav-cont .wrapper {
      width: 1080px;
      margin: 0 auto;
      position: relative;
      display: block; }
      .container .nav-cont .wrapper ul {
        line-height: 30px; }
        .container .nav-cont .wrapper ul li {
          float: left;
          position: relative;
          height: 30px;
          vertical-align: top; }
          .container .nav-cont .wrapper ul li .seg {
            height: 21px;
            width: 1px;
            padding: 0;
            background: #ddd;
            margin: 5px 20px 0; }
          .container .nav-cont .wrapper ul li a {
            margin: 0 12px 0 0;
            padding: 0 10px;
            color: #999;
            display: block;
            height: 27px;
            border-bottom: 3px solid #fff;
            line-height: 30px; }
          .container .nav-cont .wrapper ul li .lis {
            position: relative; }
          .container .nav-cont .wrapper ul li .sub-list {
            display: none;
            padding: 0 20px 9px 20px;
            width: 230px;
            position: absolute;
            top: 30px;
            background: #fff;
            border: 1px #E6E6E6 solid;
            left: -79px; }
            .container .nav-cont .wrapper ul li .sub-list a {
              display: inline-block;
              padding: 0; }
            .container .nav-cont .wrapper ul li .sub-list .arrow {
              width: 8px;
              height: 4px;
              overflow: hidden;
              position: absolute;
              top: -4px;
              left: 50%;
              margin-left: -4px;
              background: url("../imgs/arrow.png"); }
            .container .nav-cont .wrapper ul li .sub-list h5 {
              font-size: 13px;
              color: #8e8e8e;
              margin: 15px 0 5px 0;
              font-weight: 400;
              line-height: 1.6em; }
            .container .nav-cont .wrapper ul li .sub-list h5:hover {
              color: #8e8e8e; }
            .container .nav-cont .wrapper ul li .sub-list p {
              margin: 0 0 6px 0;
              line-height: 1.4em; }
          .container .nav-cont .wrapper ul li .sub-list a:hover {
            border-color: #fff; }
        .container .nav-cont .wrapper ul .tomorrow {
          position: absolute;
          right: 0;
          font-size: 13px;
          color: #ff506b;
          padding: 0 28px;
          background: #f7f7f7;
          height: 30px;
          display: inline-block;
          vertical-align: top;
          line-height: 30px; }
          .container .nav-cont .wrapper ul .tomorrow a {
            color: #ff506b;
            border-color: #f7f7f7;
            margin: 0 12px 0 0;
            padding: 0 10px;
            display: block;
            height: 27px;
            border-bottom: 3px solid #fff;
            font-size: 13px; }
        .container .nav-cont .wrapper ul.aul li :hover {
          border-color: #ff506b;
          color: #FF697F; }
        .container .nav-cont .wrapper ul.aul .ls1:hover {
          border-color: #fff; }
        .container .nav-cont .wrapper ul.aul .tomorrow a:hover {
          border-color: #fff; }
  .container .lb1 {
    position: relative;
    height: 320px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto; }
    .container .lb1 #box {
      display: block;
      width: 100%;
      height: 320px; }
      .container .lb1 #box img {
        display: block;
        width: 1400px;
        height: 320px;
        /*display: none;*/ }
      .container .lb1 #box #oul {
        position: absolute;
        height: 320px; }
        .container .lb1 #box #oul li {
          float: left; }
      .container .lb1 #box #btn {
        display: none;
        width: 40px;
        height: 60px; }
        .container .lb1 #box #btn a {
          position: absolute;
          top: 50%;
          font-size: 30px;
          color: white;
          text-align: center;
          line-height: 60px;
          display: block;
          width: 40px;
          height: 60px;
          background: rgba(0, 0, 0, 0.4); }
        .container .lb1 #box #btn #right-btn {
          right: 0; }
      .container .lb1 #box #bean-ul {
        position: absolute;
        bottom: 10px;
        left: 46%;
        background: pink;
        border-radius: 30px; }
        .container .lb1 #box #bean-ul li {
          float: left;
          border-radius: 50%;
          background: #fff;
          margin: 5px 8px;
          width: 10px;
          height: 10px; }
        .container .lb1 #box #bean-ul .a {
          background: #FF697F; }
    .container .lb1 .carousel .carousel-ul {
      position: absolute;
      padding: 0;
      top: 1px;
      left: 50%;
      font-size: 0;
      width: 250px;
      height: 318px;
      margin-left: 290px;
      background: #FFF;
      opacity: .805;
      overflow: hidden; }
      .container .lb1 .carousel .carousel-ul li {
        position: relative;
        cursor: pointer;
        display: inline-block;
        vertical-align: top;
        width: 125px;
        height: 160px; }
        .container .lb1 .carousel .carousel-ul li a {
          display: block;
          height: 156px;
          width: 122px;
          border: 1px solid #ddd;
          background: #fff;
          padding: 1px;
          cursor: pointer !important;
          border-left: none;
          color: #3E3E3E;
          text-decoration: none; }
          .container .lb1 .carousel .carousel-ul li a p {
            text-align: center;
            font-size: 13px;
            color: #7f7f7f;
            width: 94px;
            overflow: hidden;
            margin: 0 15px;
            height: 20px;
            word-break: break-all; }
          .container .lb1 .carousel .carousel-ul li a .dot {
            position: absolute;
            left: 62px;
            top: 12px;
            width: 36px;
            text-align: center;
            font-size: 12px;
            color: #FFF;
            height: 36px;
            line-height: 36px;
            overflow: hidden;
            margin: 0 15px;
            word-break: break-all;
            background: url("../imgs/i_icon3.png");
            background-position: -53px -33px; }
          .container .lb1 .carousel .carousel-ul li a img {
            margin: 26px 15px 2px 15px;
            width: 90px;
            height: 90px;
            border: 0;
            color: #3E3E3E; }
  .container .wrapper {
    width: 1080px;
    margin: 0 auto;
    position: relative;
    border-bottom: none; }
    .container .wrapper .g-f-wr {
      padding-top: 20px;
      padding-bottom: 10px;
      background: #f9f9f9; }
      .container .wrapper .g-f-wr .g-f-c66 {
        color: #666;
        font-size: 20px; }
        .container .wrapper .g-f-wr .g-f-c66 .g-fw {
          font-weight: 700;
          color: #666;
          font-size: 20px; }
        .container .wrapper .g-f-wr .g-f-c66 .g-dot {
          border: 1px solid #666;
          width: 2px;
          height: 2px;
          display: inline-block;
          background: #666;
          vertical-align: middle;
          margin: 0 5px 0 2px;
          overflow: hidden;
          color: #666;
          font-size: 20px; }
    .container .wrapper .m-pos-rel {
      position: relative; }
      .container .wrapper .m-pos-rel .g-r-con {
        position: absolute;
        right: 272px;
        top: -30px;
        text-align: right;
        color: #999; }
        .container .wrapper .m-pos-rel .g-r-con a {
          display: inline;
          color: #4bc1d2; }
    .container .wrapper .content-yb {
      position: relative;
      min-height: 2100px; }
      .container .wrapper .content-yb .right-con {
        position: absolute;
        left: 830px;
        top: 0;
        z-index: 10; }
        .container .wrapper .content-yb .right-con .m-brand {
          width: 248px;
          height: 358px;
          border: 1px solid #e7e7e7;
          background: #FFF; }
          .container .wrapper .content-yb .right-con .m-brand .m-brand-tad {
            background: #f8f8f8;
            height: 39px;
            padding: 0 26px;
            margin: 0; }
            .container .wrapper .content-yb .right-con .m-brand .m-brand-tad li {
              margin: 0 19px;
              float: left;
              font-size: 14px;
              height: 37px;
              line-height: 37px;
              color: #868686;
              width: 60px;
              cursor: pointer; }
            .container .wrapper .content-yb .right-con .m-brand .m-brand-tad .a {
              font-weight: 700;
              border-bottom: 2px solid #ff647c; }
          .container .wrapper .content-yb .right-con .m-brand .m-brand-list {
            overflow: hidden; }
            .container .wrapper .content-yb .right-con .m-brand .m-brand-list li {
              float: left;
              width: 124px;
              height: 56px;
              border-bottom: 1px dashed #f1f1f1;
              position: relative; }
              .container .wrapper .content-yb .right-con .m-brand .m-brand-list li a {
                display: inline-block;
                border-right: 1px dashed #f1f1f1; }
                .container .wrapper .content-yb .right-con .m-brand .m-brand-list li a img {
                  padding: 8px 22px;
                  width: 80px;
                  height: 40px; }
            .container .wrapper .content-yb .right-con .m-brand .m-brand-list.m-brand-list li :hover {
              background: #F9F9F9; }
          .container .wrapper .content-yb .right-con .m-brand p {
            text-align: center;
            font-size: 14px;
            color: #959595;
            height: 30px;
            line-height: 40px; }
        .container .wrapper .content-yb .right-con .m-hotsort {
          margin-top: 15px; }
          .container .wrapper .content-yb .right-con .m-hotsort .m-hotsort-tit {
            padding-left: 25px;
            color: #666;
            font-size: 16px;
            display: inline-block;
            background: url("../imgs/i_icon3.png") no-repeat;
            background-position: -180px 2px; }
          .container .wrapper .content-yb .right-con .m-hotsort .m-hotsort-con {
            background: #FFF;
            width: 248px;
            border: 1px solid #e7e7e7;
            overflow: hidden;
            margin-top: 5px; }
            .container .wrapper .content-yb .right-con .m-hotsort .m-hotsort-con ul {
              height: 31px;
              overflow: hidden;
              font-size: 13px; }
              .container .wrapper .content-yb .right-con .m-hotsort .m-hotsort-con ul li {
                float: left;
                width: 61px;
                height: 30px;
                line-height: 30px;
                border-right: 1px solid #dbdbdb;
                text-align: center;
                border-bottom: 1px solid #dbdbdb;
                color: #959595;
                cursor: pointer;
                background: #f9f9f9; }
              .container .wrapper .content-yb .right-con .m-hotsort .m-hotsort-con ul .a {
                background: #FFF;
                color: #787878;
                height: 31px; }
            .container .wrapper .content-yb .right-con .m-hotsort .m-hotsort-con .m-01020 {
              display: inline-block; }
              .container .wrapper .content-yb .right-con .m-hotsort .m-hotsort-con .m-01020 .m-h {
                display: inline-block;
                border-bottom: 1px solid #f1f1f1;
                width: 228px;
                padding: 10px;
                color: #3E3E3E; }
                .container .wrapper .content-yb .right-con .m-hotsort .m-hotsort-con .m-01020 .m-h img {
                  float: left;
                  width: 70px;
                  height: 70px; }
                .container .wrapper .content-yb .right-con .m-hotsort .m-hotsort-con .m-01020 .m-h .m-tit-f1 {
                  margin-left: 10px;
                  float: left;
                  color: #3E3E3E; }
                  .container .wrapper .content-yb .right-con .m-hotsort .m-hotsort-con .m-01020 .m-h .m-tit-f1 .m-tit {
                    width: 143px;
                    height: 36px;
                    overflow: hidden; }
                  .container .wrapper .content-yb .right-con .m-hotsort .m-hotsort-con .m-01020 .m-h .m-tit-f1 .m-sp {
                    font-family: tahoma,​arial,​sans-serif; }
                    .container .wrapper .content-yb .right-con .m-hotsort .m-hotsort-con .m-01020 .m-h .m-tit-f1 .m-sp .m-sp-one {
                      color: #ff5482;
                      font-size: 14px;
                      font-weight: 700; }
                    .container .wrapper .content-yb .right-con .m-hotsort .m-hotsort-con .m-01020 .m-h .m-tit-f1 .m-sp .m-sp-two {
                      text-decoration: line-through;
                      color: #a5a5a5;
                      margin-left: 5px; }
                .container .wrapper .content-yb .right-con .m-hotsort .m-hotsort-con .m-01020 .m-h:hover {
                  box-shadow: 0 0 5px 1px rgba(26, 26, 26, 0.2); }

.slde-panel {
  position: fixed;
  bottom: 110px;
  margin-left: 550px;
  z-index: 2000;
  left: 50%;
  width: 70px;
  background: #fff;
  border: 1px solid #e6e6e6;
  border-top: none;
  opacity: .75;
  transform: translateZ(0); }
  .slde-panel .car {
    position: relative;
    display: block;
    width: 70px;
    cursor: pointer;
    padding: 8px 0;
    text-align: center;
    color: #ff647c;
    border-top: 1px solid #e6e6e6;
    height: 27px; }
    .slde-panel .car i {
      font-size: 22px; }
    .slde-panel .car em {
      color: #fff;
      display: inline-block;
      font-size: 11px;
      position: absolute;
      right: 3px;
      text-align: center;
      top: 7px;
      width: 14px;
      line-height: 14px;
      height: 14px;
      border-radius: 50%;
      background: #7DCA00;
      font-style: normal; }
  .slde-panel .iphone {
    position: relative;
    display: block;
    width: 70px;
    cursor: pointer;
    padding: 8px 0;
    text-align: center;
    color: #ff647c;
    border-top: 1px solid #e6e6e6;
    height: 27px; }
    .slde-panel .iphone i {
      font-size: 22px; }
  .slde-panel .Customer-service {
    position: relative;
    display: block;
    width: 70px;
    cursor: pointer;
    padding: 8px 0;
    text-align: center;
    color: #ff647c;
    border-top: 1px solid #e6e6e6;
    height: 27px; }
    .slde-panel .Customer-service i {
      font-size: 22px; }
    .slde-panel .Customer-service .sp1 {
      background-color: #ff4965;
      color: #fff;
      line-height: 28px; }
  .slde-panel .top {
    position: relative;
    display: block;
    width: 70px;
    cursor: pointer;
    padding: 8px 0;
    text-align: center;
    color: #ff647c;
    border-top: 1px solid #e6e6e6;
    height: 27px; }
    .slde-panel .top i {
      font-size: 22px; }
    .slde-panel .top .sp2 {
      background-color: #ff4965;
      color: #fff;
      line-height: 28px; }
