*{
    padding:0;
    margin:0;
}
html,body{
    height:100%;
    width:100%;
    font: 12px/1.5 'Helvetica Neue',Helvetica,Arial,Sans-serif;
    background: #f9f9f9; 
    min-width: 1080px;
}
a{
    text-decoration: none;  
    display: block;
}
ul,li{
    list-style: none; 
    // display: block;
}
$headcolor:#3C3C3C;
//                                          header
.nav-top{
    width: 100%;
    background: #f4f4f4;
    border-bottom: 1px #e8e8e8 solid;
    height: 28px;
    z-index: 109;
    position: relative;
    padding:3px 0 ;
    .nav-w1080{
        width: 1080px;
        margin: 0 auto;
        position: relative;
        .view{
            position: absolute;
            right: 0;
            top: 0;
            li{
                margin: 0 10px;
                font-size: 12px;
                color: #555;
                vertical-align: top;
                line-height: 28px;
                display: inline-block;
                a{
                    color: #555;
                }
                & a:hover{
                    text-decoration: underline;
                }
            } 
            .view-1{
                line-height: 28px;
                font-size: 12px;
                color: #555;
                vertical-align: top;
                margin: 0 12px;
                a{
                    display: inline-block;
                }
            }
            .seg{
                margin:0;
                height: 15px;
                width: 1px;
            }
            .view-5{
                border: 1px solid transparent; 
                display:inlineblock;
                .bg{
                    color:#FF5482;
                    font-size: 12px;
                    vertical-align: 1px;
                    margin-right:2px;
                    i{
                        font-size:14px;
                        color:#FF5482;
                        margin-left:2px;
                    }
                }
                .kf{
                    display: none;
                    line-height: 28px;
                    i{
                        color:#FF5482;
                        font-size:14px; 
                        padding:0 2px;
                    }
                    a{
                        display:inline;
                    }
                }
            }
            .view-7{
                border: 1px solid #f4f4f4; 
                padding:0 5px 0 5px;
                display:inlineblock;
                .wx1{
                    display: none;
                    border: 1px solid #CECCCF;
                    padding: 10px;
                    width: 200px;
                    position: absolute;
                    top: 22px;
                    right: -80px;
                    background: #fff;
                    .d1{
                        line-height: 1.4em;
                        float: left;
                        width: 135px;
                        text-align: center;
                        color: #666;
                        border-right: 1px dotted #CDCBCE;
                    }
                    .d2{
                        text-align: center;
                        dd{
                            margin-top:10px;
                        }
                        dt{
                            margin-top:10px;
                        }
                    }
                }
            }
        }
    }
}
//                                                              wrapper
.wrapper{
    z-index: 101;
    position: relative;
    background: #fff;
    min-width: 1000px;
    border-bottom: 1px solid rgba(0,0,0,.06);
    // overflow: hidden;
    .header{
        z-index: 301;
        width: 1080px;
        margin:0 auto;
        .logo{
            height: 90px;
            position: relative;
            text-align: left;
            display: block;
            a{
                display: inline-block;
                img{
                    margin-top: 15px;
                }
            }
            .zheng{
                background: url('../imgs/upload_ae75f583dcb3536e115449a11bde5434_390x40.png') no-repeat;
                width: 390px;
                height: 40px;
                position: absolute;
                top: 25px;
                left:525px;
                a{
                    width: 390px;
                    height: 40px;
                }
            }
            .Shopping{
                position: absolute;
                display: block;
                background: #ff647c;
                border-radius: 10px;
                height: 34px;
                top: 28px;
                left: 947px;
                .Shopping-car{
                    background:#444;
                    color: white;
                    border-radius: 50%;
                    border:2px solid #fff;
                    position: absolute;
                    line-height: 36px;
                    text-align: center;
                    left:-18px;
                    width:36px;
                    height:36px;
                    top:-1px;
                    a{
                        color: white;
                    }
                }
                .Shopping-font{
                    color: #fff;
                    padding: 0 12px 0 24px;
                    font-size: 15px;
                    line-height: 34px;
                    a{
                        color: #fff;
                    }
                }
            }
            .ShoppingCar{
                display: none;
                background: #fff;
                border-top: none;
                padding: 0;
                position: absolute;
                top: 34px;
                width: 340px;
                right: 3px;
                .commodity{
                    background: transparent;
                    border: 1px solid rgb(255, 84, 130);
                    width: 340px;
                    text-align: left;
                    color: rgb(0, 0, 0);
                    z-index: 29; 
                    cursor: default;
                    position: relative;
                    .oul{
                        background: rgb(255, 255, 255);
                        overflow-y: hidden;
                        li{
                            font-size: 16px;
                            color: rgb(153, 145, 140);
                            padding: 80px 0px;
                            text-align: center;
                            position: relative;
                            overflow: hidden;
                            list-style: none;
                            cursor: pointer;
                            border-bottom: none;
                        }
                        .active{
                           
                        }
                        .note{
                            width: 100%;
                            display: block;
                            position: absolute;
                            left: 0px;
                            top: 80px;
                            font-size: 16px;
                            color: rgb(153, 145, 140);
                            text-align: center;
                            cursor: pointer;
                        }
                    }
                    .payment{
                        height: 47px;
                        border-top: 1px solid rgb(227, 227, 227);
                        background: rgb(255, 249, 251);
                        text-align: left;
                        color: rgb(0, 0, 0);
                        .Subtotal{
                            font-size: 13px;
                            color: rgb(102, 102, 102);
                            padding: 10px 15px;
                            position: absolute;
                            span{
                                color: rgb(229, 51, 99);
                                font-size: 18px;
                            }
                        }
                        .Settlement{
                            background: rgb(255, 84, 130);
                            padding: 4px 12px;
                            font-size: 13px;
                            color: rgb(255, 255, 255);
                            border-radius: 4px;
                            border-width: 1px 1px 2px;
                            border-style: solid;
                            border-color: rgb(255, 60, 112) rgb(255, 60, 112) rgb(229, 51, 99);
                            border-image: initial;
                            float: right;
                            margin-right: 15px;
                            margin-top: 6px;
                            height: 24px;
                            width: auto;
                            line-height: 24px;
                            i{
                                color: rgb(255, 255, 255);
                            }
                            a{
                                color: rgb(255, 255, 255);
                            }
                        }
                    }
                }
            }
        }
    }
    .nav{
        height: 38px;
        background: #ff647c;
        width:100%;
        position: relative;
        .title{
            height: 38px;
            width: 1080px;
            margin: 0 auto;
            position: relative;
            // background: green;
            a{
                float: left;
                color: #fff;
                font-size: 15px;
                font-weight: 700;
                line-height: 38px;
                text-align: center;
                height: 38px;
                width: 95px;
                &:last-child{
                    position:relative;
                }
                .hot{
                    position: absolute;
                    top: -4px;
                    width: 27px;
                    height: 18px;
                    background: url('../imgs/upload_829e7d60f494bb7159132f6c5181c30b_54x36.png')no-repeat;
                    background-size: 100%;
                }
            }
            &.title .e1:hover{
                background: #f34660;
            }
            .fom{
                position: absolute;
                right: 0;
                top: 5px;
                font-size: 14px;
                .classification{
                    display: inline-block;
                    height: 35px;
                    width: 100px;
                    text-align: right;
                    padding-right: 5px;
                    line-height: 30px;
                    position: relative;
                    float:left;
                    font-size:14px;
                    span{
                        color:#fff;
                        cursor: pointer;
                    }
                    .clearfix{
                        display: none;
                        position: absolute;
                        left: -175px;
                        top: 33px;
                        width: 490px;
                        background-color: #f9f9f9;
                        border: 1px solid #ececec;
                        overflow: hidden;
                        box-shadow: 1px 1px 10px 0 rgba(0,0,0,.15);
                        text-align: right;
                        .f1{
                            display: block;
                            width: 110px;
                            float: left;
                            text-align: center;
                            font-size: 14px;
                            line-height: 30px;
                            li{
                                text-align: right;
                                background-color: #fff;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
                                color: #666;
                                cursor: pointer;
                                font-size: 12px;
                                list-style: none;
                                width: 80px;
                                padding-right: 30px;
                                height: 34px;
                                line-height: 34px;
                                border-right: 1px solid #e0e0e0;
                                border-bottom: 1px solid rgb(236, 236, 236);
                            }
                        }
                        .con{
                            margin-left: 110px;
                            background: #fff;
                            border-left: 1px solid #ececec;
                            display: block;
                            height:527px;
                            .rid{
                                padding: 10px;
                                padding-bottom: 0;
                                display: inline-block;
                                margin: 0;
                                line-height: 30px;  
                                text-align: right;
                                font-size: 14px;
                                .right0{
                                    text-align: center;
                                    padding: 15px 14px 0 14px;
                                    float: left;
                                    width: 60px;
                                    height: 93px;
                                    border-right: 1px dashed #ececec;
                                    border-bottom: 1px dashed #ececec;
                                    overflow: hidden;
                                    cursor: pointer;
                                    list-style: none;
                                    display: list-item;
                                    a{
                                        width: 60px;
                                        height: 78px;
                                        display: inline-block;
                                        color: #3E3E3E;
                                        text-align: center;
                                        img{
                                            width: 60px;
                                            height: 60px;
                                            text-align: center; 
                                            display:block;
                                        }
                                        lable{
                                            font-size: 12px;
                                            line-height: 30px;
                                            color: #999;
                                            cursor: default;
                                            text-align: center; 
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .search{
                    height: 28px;
                    width: 215px;
                    position: relative;
                    font-size: 14px;
                    display: inline-block;
                    form{
                        input{
                            outline: 0;
                            border-radius: 2px;
                            border: 1px solid #e6e6e6;
                            height: 26px;
                            line-height: 26px;
                            width: 200px;
                            padding: 0 5px;
                            font-size: 12px;
                            color: #666;
                        }
                        i{
                            width: 20px;
                            height: 24px;
                            right: 13px;
                            top: -6px;
                            z-index: 2;
                            color: #afafaf;
                            cursor: pointer;
                            position: absolute;
                            font-size: 28px;
                        }
                    }
                    .list{
                        display: none;
                        border: 1px solid #F9F9F9;
                        background-color: #fff;
                        border-radius: 0 0 2px 2px;
                        overflow: hidden;
                        box-shadow: 0 3px 2px rgba(0,0,0,.2);
                        position: absolute;
                        top: 26px;
                        left: 0;
                        width: 210px;
                        height: 390px;
                        li{
                            color: #3E3E3E;
                            text-decoration: none;
                            height: 26px;
                            line-height: 26px;
                            position: relative;
                            display: block;
                            .wordx{
                                line-height: 26px;
                                margin-left: 5px;
                                color: #666;
                                font-size: 12px;
                                cursor: pointer;
                            }
                            .memo{
                                color: #A6A6A6;
                                font-size: 12px;
                                top: auto;
                                position: absolute;
                                right: 5px;
                                line-height: 26px;
                                cursor: pointer;
                            }
                        }
                        &.list li:hover{
                            background:#afafaf;
                        }
                    }
                }
            }
        }
    }
}
//                主体内容部分
.container{
    background: #fff;
    padding-top: 12px;
    padding-bottom: 35px;
    .wrapper{
        width: 1080px;  
        margin: 0 auto;
        position: relative;
        z-index: 1;
        border:none;
        .g-mart-hearder{
            background-color: #fff;
            background-repeat: no-repeat;
            background-position: top center;
            padding: 24px 0;
            height: 80px;
            position: relative;
            border-bottom: 1px solid #eee;
            .g-mart-hearder-left{
                display: inline-block;
                position: relative;
                width: 500px;
                .hearder-logo{
                    width: 80px;
                    height: 80px;
                    overflow: hidden;
                    border: 1px solid rgba(217,219,223,.3);
                    display: block;
                    img{
                        width: 80px;
                        height: 80px;
                    }
                }
                .hearder-info{
                    position: absolute;
                    left: 96px;
                    top: 0;
                    width: 400px;
                    overflow: hidden;
                    .brand-name{
                        overflow: hidden;
                        margin-bottom: 6px;
                        margin: 0 0 8px;
                        .mart-name{
                            max-width: 322px;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            display: inline-block;
                            position: relative;
                            font-size: 20px;
                            color: #4a4a4a;
                            float: left;
                        }
                        .mart-discount{
                            margin-left: 10px;
                            color: #ff4965;
                            font-size: 16px;
                            float: left;
                            line-height: 28px; 
                            span{
                                font-family: verdana;
                                font-size: 24px;
                                font-weight: 700;
                            } 
                        }
                    }
                    .countdown-container{
                        color: #4a4a4a;
                        height: 21px;
                        line-height: 21px;
                        font-size: 14px;
                        margin-bottom: 6px;
                        margin: 0 0 8px;
                        .timer{
                            color: #4a4a4a;
                            height: 21px;
                            line-height: 21px;
                            font-size: 14px;
                            margin-bottom: 6px;
                            display: block;
                            .main{
                                display: inline; 
                                span{
                                    margin:0 1px;
                                    font-weight: 700;
                                }
                            }
                        }
                    }
                }
            }
            .g-mart-hearder-right{
                background: #fff;
                height: 80px;
                position: relative;
                width: 500px;
                float: right;
                display: block;
                .opration{
                    position: absolute;
                    bottom: 33px;
                    right: 21px;
                    a{
                        float: right;
                        display: inline;
                        visibility: visible;
                        height: 22px;
                        line-height: 22px;
                        padding: 0 12px;
                        border-radius: 11px;
                        cursor: pointer;
                        background: #fff;
                        width: 66px;
                        color: #999;
                        text-align: center;
                        border: 1px solid #e7e7e7;
                        transition: all .3s;
                    }
                    i{
                        color: #cfcfcf;
                        font-size: 14px;
                        margin-right: 3px;
                        transition: color .3s;
                    }
                }
            }
        }
        .z-ancient{
            width: 1110px;
            list-style: none; 
            overflow: hidden;
            .z-ancient-clearfix{
                width: 100%;
                height: 60px;
                line-height: 60px;
                text-align: center;
                .mut-byu{
                    background:url('../imgs/84583e9f60fe9c79_30x30.png')no-repeat 0 0;
                    background-size: contain;
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    vertical-align: middle;
                    margin-right: 6px;
                    margin-top: -7px;
                }
                .brand-act{
                    display: inline-block;
                    font-size: 20px;
                }
            }
            .lis1{
                box-shadow: border-box;
                border:1px solid transparent;
                position: relative;
                float: left;
                display: inline;
                width: 255px;
                height: 330px;
                margin: 0 18px 20px 0; 
                background: #fff;
                font-size: 12px;
                transition: all .5s;
                a{
                    position: relative;
                    display: block;
                    border: 1px solid #eee;
                    width: 253px;
                    height: 328px;
                    cursor: pointer;    
                    color: #3E3E3E;
                    font-size: 12px;   
                    .img-wrapper{
                        img{
                            display: block;
                            height: 253px;
                            width: 253px;
                            transition: opacity .3s,transform .3s;
                            border:none;
                        }
                        .sell-icon{
                            position: absolute;
                            top: 12px;
                            left: 12px;
                            background: url('../imgs/upload_014ad3e368cee22026c304f46b43ffe2_80x80.png')no-repeat;
                            width: 40px;
                            height: 40px;
                            background-size: contain;
                        }
                    } 
                    .info-wrpper{
                        .title{
                            margin: 5px 10px;
                            font-size: 12px;
                            height: 22px;
                            line-height: 22px;
                            overflow: hidden;
                            color: #666;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                        .price-info{
                            margin: 0 10px;
                            color: #999;
                            cursor: pointer;
                            .discount{
                                float: right;
                                color: #999;
                                font-size: 13px;
                                display: inline;
                                margin-top: 13px;
                                margin-right: 10px;
                            }
                            .symbol{
                                font-family: verdana;
                                font-size: 18px;
                                color: #ff4965;
                                margin-right: -2px;
                                font-weight: 400;
                            }
                            .price-int{
                                margin-right: -3px;
                                letter-spacing: -1px;
                                font-family: verdana;
                                color: #ff4965;
                                font-size: 24px;
                                font-weight: 700;
                            }
                            .price-decimal{
                                font-size: 18px;
                                font-family: verdana;
                                color: #ff4965;
                                margin-right: 4px;
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
            & .lis1:hover{
                border:1px solid red;
            }
        }
        .list-header{ 
            width: 100%;
            height: 60px;
            line-height: 60px;
            text-align: center;
            .selling-icon{
                background: url('../imgs/d437ea8728a37482_30x30.png')no-repeat 0 0;
                background-size: contain;
                display: inline-block;
                width: 24px;
                height: 24px;
                vertical-align: middle;
                margin-right: 6px;
                margin-top: -7px;
            }
            .brand-cat{
                display: inline-block;
                font-size: 20px;
                color: #4a4a4a;
                line-height: 60px;
                text-align: center;
            }
        }
        .u-cover{
            background: #fff;
            border: 1px solid #eee;
            margin: 13px 0; 
            padding-bottom: 0;  
            .m-filter{
                padding: 15px 0;
                color: #4a4a4a;
                padding-bottom: 0;
                border-bottom: 1px solid #eee;
                padding-left: 18px;
                .note{
                    display: inline;
                    float: left;
                }
                ul{
                    display: inline-block;
                    margin-left: 40px;
                    list-style-type: none;
                    li{
                        padding-bottom: 15px;
                        float: left;
                        display: inline;
                        margin: 0 0 0 10px;
                        a{
                            color: #3E3E3E;
                            padding: 2px 8px;
                            -webkit-transition: color .3s;
                            transition: color .4s;
                        }
                        & a:hover{
                            color:#ff4965;
                        }
                        .a{
                            color:#ff4965;
                        }
                    }
                }
            }
            .m-sort{
                background-color: #f8f9fa;
                height: 48px;
                line-height: 48px;
                padding: 0;
                font-size: 14px;
                color: #4a4a4a;
                ul{
                    margin:0;
                    li{
                        margin: 0;
                        float: left;
                        display: inline;
                        text-align: -webkit-match-parent;   
                        a{
                            display: inline-block;
                            width: 80px;
                            height: 48px;
                            text-align: center;
                            transition: all .4s;
                            color: #3E3E3E;
                        }
                        & a:hover{
                            color:#ff4965;
                        }
                        label{
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        .J-mart{
            ul{
                width: 1110px;
                list-style: none;
                overflow: hidden;
                .lis1{
                    box-shadow: border-box;
                    transition: all .5s;
                    position: relative;
                    float: left;
                    display: inline;
                    width: 255px;
                    height: 330px;
                    margin: 0 18px 20px 0; 
                    background: #fff;
                    font-size: 12px;
                    border:1px solid transparent;
                    a{
                        position: relative;
                        display: block;
                        border: 1px solid #eee;
                        width: 253px;
                        height: 328px;
                        cursor: pointer;    
                        color: #3E3E3E;
                        font-size: 12px;   
                        .img-wrapper{
                            img{
                                display: block;
                                height: 253px;
                                width: 253px;
                                transition: opacity .3s,transform .3s;
                                border:none;
                            }
                            .sell-icon{
                                position: absolute;
                                top: 12px;
                                left: 12px;
                                background: url('../imgs/upload_014ad3e368cee22026c304f46b43ffe2_80x80.png')no-repeat;
                                width: 40px;
                                height: 40px;
                                background-size: contain;
                            }
                        } 
                        .info-wrpper{
                            .title{
                                margin: 5px 10px;
                                font-size: 12px;
                                height: 22px;
                                line-height: 22px;
                                overflow: hidden;
                                color: #666;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                            .price-info{
                                margin: 0 10px;
                                color: #999;
                                cursor: pointer;
                                .discount{
                                    float: right;
                                    color: #999;
                                    font-size: 13px;
                                    display: inline;
                                    margin-top: 13px;
                                    margin-right: 10px;
                                }
                                .symbol{
                                    font-family: verdana;
                                    font-size: 18px;
                                    color: #ff4965;
                                    margin-right: -2px;
                                    font-weight: 400;
                                }
                                .price-int{
                                    margin-right: -3px;
                                    letter-spacing: -1px;
                                    font-family: verdana;
                                    color: #ff4965;
                                    font-size: 24px;
                                    font-weight: 700;
                                }
                                .price-decimal{
                                    font-size: 18px;
                                    font-family: verdana;
                                    color: #ff4965;
                                    margin-right: 4px;
                                    font-weight: 700;
                                }
                            }
                        }
                    }
                }
                & .lis1:hover{
                    border: 1px solid red;
                }
            }
        }
    }
    .tac{
        margin-top: 20px;
        box-shadow: 0 1px 2px #D1D1D1;
        background: #fefefe;
        margin-bottom: 10px;
        overflow: hidden;
        margin:0 auto;
        display: block;
        width:1080px;
    }
}
//底部
#footer{
    margin-top: 0px;
    text-align: center;
    color: #666;
    min-width: 1000px;
    .footer-nav{
        text-align: center;
        border-top: 3px solid #FF5482;
        background: #555;
        padding: 10px 0;
        color: #ddd;
        a{
            display: inline-block;
            color: #ddd;
            margin: 0 10px; 
            text-align: center;
        }
    }
    .footer-content{
        background: #fff;
        padding: 20px 0 40px;
        color: #999;
        .f-wrapper{
            width: 1080px;
            margin: 0 auto;
            position: relative;
            color: #999;
            .mt-8{
                margin-top: 8px;
                padding:0;
            }
        }
    }
}
//返回顶部
@mixin public(){
    position: relative;
    display: block;
    width: 70px;
    cursor: pointer;
    padding: 8px 0;
    text-align: center;
    color: #ff647c;
    border-top: 1px solid #e6e6e6;
    height: 27px;
}
.slde-panel{
    position: fixed;
    bottom: 110px;
    margin-left: 550px;
    z-index: 2000;
    left: 50%;
    width: 70px;
    background: #fff;
    border: 1px solid #e6e6e6;
    border-top: none;
    opacity: .75;
    transform: translateZ(0);
    .car{
        // position: relative;
        @include public();
        i{
            font-size: 22px;
        }
        em{
            color: #fff;
            display: inline-block;
            font-size: 11px;
            position: absolute;
            right: 3px;
            text-align: center;
            top: 7px;
            width: 14px;
            line-height: 14px;
            height: 14px;
            border-radius: 50%;
            background: #7DCA00;
            font-style: normal;
        }
        .cart{ 
            width: 350px;
            position: absolute;
            right: 0px;
            bottom: -100px;
            left: -350px;
            .main{
                background: transparent;
                border: 1px solid rgb(255, 84, 130);
                text-align: left;
                color: rgb(0, 0, 0);
                z-index: 29;
                cursor: default;
                position: relative;
                .cart-title{
                    padding: 2px 15px;
                    border-bottom: 1px solid rgb(227, 227, 227);
                    background: rgb(255, 249, 251);
                    font-size: 13px;
                    text-align: center;
                    color: rgb(255, 84, 130);
                    i{
                        font-size:18px;
                        text-align: center;
                        color: rgb(255, 84, 130);
                    }
                }
                .cart-info{
                    background: rgb(255, 255, 255);
                    overflow-y: hidden;
                    li{
                        font-size: 16px;
                        color: rgb(153, 145, 140);
                        padding: 80px 0px;
                        text-align: center;
                        position: relative;
                        overflow: hidden;
                        cursor: pointer;
                        border-bottom: none;
                    }
                }
                .care-footer{
                    height: 47px;
                    border-top: 1px solid rgb(227, 227, 227);
                    background: rgb(255, 249, 251);
                    .care-footer-total{
                        font-size: 13px;
                        color: rgb(102, 102, 102);
                        padding: 10px 15px;
                        position: absolute;
                        span{
                            color: rgb(229, 51, 99);
                            font-size: 18px;
                        }
                    }
                    .care-footer-btn{
                        a{
                            background: rgb(255, 84, 130);
                            padding: 4px 12px;
                            font-size: 13px;
                            color: rgb(255, 255, 255);
                            border-radius: 4px;
                            border-width: 1px 1px 2px;
                            border-style: solid;
                            border-color: rgb(255, 60, 112) rgb(255, 60, 112) rgb(229, 51, 99);
                            border-image: initial;
                            float: right;
                            margin-right: 15px;
                            margin-top: 6px;
                            height: 24px;
                            width: auto;
                            line-height: 24px;
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
    .iphone{
        @include public();
        i{
            font-size:22px; 
        }
        .iphone-side{
            position: absolute;
            left: -184px;
            top: -62px;
            width: 160px;
            padding: 10px;
            border: 2px solid #ff4965;
            background: #fff;
            text-align: center;
            p{
                text-align: center;
                color: #333;
                margin: 0;
                line-height: 16px;
                font-size: 13px;
                font-family: "微软雅黑";
            }
            img{
                border: 0;
                margin-top: 10px;
            }
        }
    }
    
    .Customer-service{
        // background-color: #ff4965;
        @include public();
        i{
            font-size:22px; 
        }
        .sp1{
            background-color: #ff4965;
            color: #fff;
            line-height: 28px;
        }
    }
    .top{
        @include public();
        i{
            font-size:22px; 
        }
        .sp2{
            background-color: #ff4965;
            color: #fff;
            line-height: 28px;
        }
    }
}
// 吸顶效果
.sub-fixed-top{
    position: fixed;
    width: 100%;
    height: 37px;
    z-index: 999;
    top: 0;
    box-shadow: 0 1px 5px #bbb;
    background: #fff;
    transform: translateZ(0);
    .wrapper-top{
        width: 1080px;
        margin: 0 auto;
        position: relative;
        ul{
            z-index: 1000;
            line-height: 30px;
            li{
                position: relative;
                height: 30px;
                display: inline-block;
                vertical-align: top;
                line-height: 34px;
                text-align: center;
                a{
                    margin: 0 12px 0 0;
                    padding: 0 10px;
                    color: #999;
                    border-bottom: 3px solid #fff;
                    display: block;
                }
                & a:hover{
                    color: #FF697F;
                    border-color: #ff506b;
                }
            }
            
            .sub-logo-top{
                display: inline-block;
                width: 98px;
                height: 48px;
                padding: 0;
                margin-right: 18px;
                background-image: url('../imgs/92788ffe070a9643a1bc1d8e2284b182.png');
                background-repeat: no-repeat;
                background-position: center;
                a{
                    border:none;
                }
            }
            .shuxian{
                height: 23px;
                width: 1px;
                padding: 0;
                background: #ddd;
                margin: 5px 20px 0;
                text-align: center;
            }
            .view{
                a{
                    height: 28px;
                    i{
                        font-size: 12px;
                        vertical-align: 1px;
                    }
                }
                & a:hover{
                    color: #ff647c;
                    background: #fff;
                    border-color: #fff;
                }
               .list-top{
                    text-align: left;
                    padding-left: 16px;
                    top: 37px;
                    width: 235px;
                    left: -80px;
                    padding: 0 20px 9px 20px;
                    position: absolute;
                    background: #FFF;
                    border: 1px #E6E6E6 solid;
                    line-height: 37px;
                    span{
                        width: 8px;
                        height: 4px;
                        overflow: hidden;
                        position: absolute;
                        top: -4px;
                        left: 50%;
                        margin-left: -4px;
                        background: url('../imgs/arrow.png');
                    }
                    h5{
                        margin-left: 5px;
                        font-size: 13px;
                        color: #8e8e8e;
                        margin: 15px 0 5px 0;
                        font-weight: 400;
                        line-height: 1.6em;
                        text-align: left;
                    }
                    p{
                        margin: 0 0 6px 0;
                        line-height: 1.4em;
                        a{
                            margin:0;
                            display: inline-block;
                            padding: 0 5px;
                            height: auto;
                            border-bottom: 3px solid #fff;
                        }
                    }
                }
            }
            .oversea{
                text-align: center;
                right: 90px;
                width: 100px;
                padding: 0 8px;
                // display: block;
                position: absolute;
                top: 0;
                font-size: 15px;
                background: #f7f7f7;
                height:37px;
                line-height: 37px;
                vertical-align: top;
                a{
                    color: #7f4dbc; 
                    border-radius: 0;
                    border-right: 1px solid #ddd;
                    padding: 0;
                    height: 34px;
                    background: #f7f7f7;
                    border: none;
                    img{
                        vertical-align: -3px;
                        border: 0;
                    }
                }
                & a:hover{
                    color: #7f4dbc; 
                }
            }
            .tuan{
                width: 100px;
                padding: 0 8px;
                display: block;
                text-align: left;
                height:37px;
                line-height: 37px;
                position: absolute;
                top: 0;
                right: 0;
                font-size: 15px;
                height: 37px;
                background: #f7f7f7;
                vertical-align: top;
                a{
                    height: 34px;
                    padding: 0;
                    color: #ff506b;
                    border-color: #f7f7f7;
                    margin: 0 12px 0 0;
                    display: block;
                    // border-bottom: 3px solid #fff;
                    img{
                        vertical-align: -3px;
                        border: 0;
                    }
                }
                & a:hover{
                    border-color: #f7f7f7;
                }
            }
        }
    }
}